<p id="notice"><%= notice %></p>

<p>
  <b>Mes:</b>
  <%= @purchase.mes %>
</p>

<p>
  <b>N dias:</b>
  <%= @purchase.n_dias %>
</p>


<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
